@import "../assets/styles/main.scss";

.experience {
  height: 450px;
  background-color: white;
  padding: 60px;
  .header {
    width: 100%;
    height: 50px;
    .title {
      font-size: 36px;
    }
  }
  .experience-explained {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .listView {
      width: 30%;
      font-size: 24px;
      font-family: $header-font;
      // line-height: 1.5;
      ul {
        list-style: none;
        padding: 0;
        .listView-elem {
          display: inline-block;
          margin: 0;
          margin-bottom: 10px;
        }
      }
    }
    .description {
      padding-top: 22px;
      width: 70%;
      line-height: 1.3;
      font-size: 18px;
      height: 250px;
    }
  }
}

.active {
  text-decoration: underline;
  font-weight: bold;
}
