@import "../assets/styles/main.scss";

.experience {
  height: 600px;
  background-color: white;
  display: flex;
  padding: 60px;
  .header {
    width: 100%;
  }
  .listView {
    width: 50%;
    ul {
      list-style: none;
    }
  }
  .description {
    width: 50%;
  }
}
