@import "../assets/styles/main.scss";

.gridCell {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  .gridImgWrap {
    height: 500px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: #3B4347;
    align-items: center;
    .gridImg {
       background-color: black;
       transition: all .2s ease-in-out;
       width: 100%;
       transition: transform .3s ease-out;
       position: absolute;

       &:hover {
         cursor: pointer;
         transform: scale(1.05);
       }
    }
  }
  .cellInfo {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
}
