@import "../assets/styles/main.scss";

.gridCell {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  .gridImgWrap {
    height: 500px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: #3B4347;
    align-items: center;
    .gridImg {
       background-color: #eeee;
       transition: all .2s ease-in-out;
       width: 100%;
       transition: all .3s ease-out;
       position: absolute;
       -webkit-filter: brightness(100%);

       &:hover {
         cursor: pointer;
         transform: scale(1.05);
         -webkit-filter: brightness(60%);
       }
    }

    .textContainer {
      box-sizing: border-box;
      padding: 50px;
      color: white;
      z-index: 600;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      pointer-events:none;
      .headerTop {

      }
      .keywords {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        width: 100%;
        align-items: center;
      }
    }
  }
  .cellInfo {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    display: none
  }
}

.iconArrow {
  width: 20px;
  height: auto;
}
