@import "./assets/styles/main.scss";

@import "./Hello/hello.scss";


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  color: $text-color;
  line-height: 1.25;
  font-size: 17px;
  -webkit-text-size-adjust: none;
}

a {
  color: $text-color;
  &:visited {
    color: $text-color;
  }
}

.icon {
  width: 25px;
  height: 25px;
}

.intextIcon {
  transform: translateY(5px)
}

.gridContainer {
  display: flex;
  flex-direction: row;
  .gridCellCentered {
  }
}
