@import "../assets/styles/main.scss";

.hello {
  height: 600px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .hello-description {
    width: 620px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    .icons {
      margin-top: 40px;
      img {
        width: 25px;
        height: auto;
        margin: 0px 10px 0px 10px;
      }
    }
  }
}
