@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap');

@font-face {
  font-family: Akkurat;
  src: require('./../Akkurat.ttf');
}

@font-face {
  font-family: Chivo;
  src: require('./../Chivo.ttf');
}

$font-stack: 'Muli', 'Karla';
$header-font: 'Muli';
$background-color: #FFF4EC;
$text-color: #292B2C;

.title, strong {
  font-family: $header-font;
  font-weight: 800;
}

#dogsProject {
  background-color: white !important;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 40px 0px;
  align-items: flex-start;
}
.col2 {
  width: 25%;
}
.col3 {
  width: 33%;
}
.col4 {
  width: 40%;
  padding-right: 40px;
}
.col5 {
  box-sizing: border-box;
  width: 50%;
}
.col6 {
  width: 60%;
}
.col7 {
  width: 75%;
}
.colMax {
  width: 100%;
}

.padding20 {
  padding-left: 20px;
}

.padding200 {
  padding: 0px 200px 0px 200px;
}

.margin40 {
  margin: 40px 0px 40px 0px;
}

.margin80 {
  margin: 80px 0px 80px 0px;
}

.padding40{
  padding: 0px 40px 0px 40px;
}

.padding80Left{
  padding: 0px 0px 0px 80px;
}

.btn {
  text-decoration: none;
  background-color: #eaf257;
  padding: 10px 20px 10px 20px;
}

.pullRight {
  text-align: right;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marginRight {
  margin-right: 50px;
}

.fade-in {
    opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

.gifImgBorder {
  border-radius: 32px;
  border: 12px solid black;
  -webkit-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
box-shadow: 0px 14px 21px 0px rgba(0,0,0,0.32);
}

.prototypeImgMed {
  width: 210px;
}
