@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$font-stack: 'Inconsolata', sans-serif;
$header-font: 'Fjalla One';
$background-color: #FFF4EC;
$text-color: #292B2C;
