@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face {
  font-family: Akkurat;
  src: './../Akkurat.ttf';
}

@font-face {
  font-family: Chivo;
  src: './../Chivo.ttf';
}

$font-stack: 'Inconsolata', sans-serif;
$header-font: 'Open Sans';
$background-color: #FFF4EC;
$text-color: #292B2C;

.title {
  font-family: $header-font;
}

#dogsProject {
  background-color: white !important;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.col2 {
  width: 25%;
}
.col3 {
  width: 33%;
}
.col4 {
  width: 40%;
  padding-right: 40px;
}
.col5 {
  width: 50%;
}
.col6 {
  width: 60%;
}
.col7 {
  width: 75%;
}
.colMax {
  width: 100%;
}

.padding20 {
  padding-left: 20px;
}

.margin40 {
  margin: 40px 0px 40px 0px;
}
