@import "../assets/styles/main.scss";


.navigation {
  background-color: transparent;
  margin: 0;
  padding: 0px 70px 0px 0px;
  right: 0;
  position: fixed;
  z-index: 100;
  ul {
    margin: 0;
    padding: 20px 40px 0px 40px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {

        margin-right: 40px;

      a {
        text-decoration: none;
      }
    }
  }
}
