@import "../assets/styles/main.scss";


.projectHeader {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
  .projectTitle {
    display: flex;
    align-items: center;
    font-size: 21px;
    marign-bottom: 20px;
    h1 {
      margin: 0 50px 0px 50px;
    }
    .iconBg {
      width: 30px;
      height: 30px;
      background-color: #2B2D2E;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .projectDescription {
    margin-left: 80px;
  }
}

.sunwise {
  background-color: #4572DF;
  color: white;
}

.dogs {
  background-color: #F4C349;
}
.sfData {
  background-color: #F3FA8A;
}
.mikeller {
  background-color: #F9EDBC;
}
.coordinates {
  background-color: #92e8b8;
}
.costa {
  background-color: #20565f;
  color: white;
}

.opi {
  background-color: #905fce;
  color: white;
}

.ah {
  background-color: #ecede7;
}

.basicContainer {
  padding: 40px 200px 40px 200px;
  box-sizing: border-box;
  display: flex;
  h2 {
    font-size: 24px;
    margin: 0;
  }
  p {
    margin: 0;
  }
  .mainImg {
    width: 200px;
  }

  .more {
    display: flex;
    align-items: flex-end;
  }
}

.number {
  // color: ;
}

.mainImg {
  width: 100%;
  height: auto;
  margin: 40px 0px 40px 0px;
}

.smallImg {
  width: 450px;
  height: auto;
}

.projectContainer {
  padding: 10px 200px 10px 200px;
  // @media screen and (max-width: 1200px) {
  .screenView {
    width: 300px;
  }
}

.colored {
  padding: 60px;
  background-color: #f4f4f4;
  margin: 0px 0px 40px 0px;
}

.research {
  display: flex;
  flex-direction: row;
}

#firstInsight {
  position: relative;
  top: 120px;
}

#stopInsight {
  position: relative;
  top: 140px;
}

#chartInsight {
  position: relative;
  top: 40px;
}

.sbm {
  // margin: 0px 20px 0px 20px;
}

.prototypeImg {
  width: 240px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
margin: 0px 10px 0px 10px;
}

.prototypeImgBig {
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
margin: 0px 10px 0px 10px;
}

.prototypeImgSmall {
  width: 180px;
  height: auto;
}

.prototype {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.role {
  margin-right: 40px;
}

.title {
  font-family: $header-font;
}

.personal {
  margin-bottom: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 140px;
}

.cardsFlowBg {
  background-color: #ecede7;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  justify-content: center;
}

i {
  font-weight: 500;
}
