@import "../assets/styles/main.scss";


.projectHeader {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
  .projectTitle {
    display: flex;
    h1 {
      margin: 0 50px 0px 50px;
    }
    .iconBg {
      width: 30px;
      height: 30px;
      background-color: #2B2D2E;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .projectDescription {
    margin-left: 80px;
  }
}

.sunwise {
  background-color: #4572DF;
  color: white;
}

.dogs {
  background-color: #F4C349;
}
.sfData {
  background-color: #F3FA8A;
}
.mikeller {
  background-color: #F9EDBC;
}
.coordinates {
  background-color: #B1F3B5;
}

.basicContainer {
  height: 500px;
  padding: 40px 120px 40px 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  h2 {
    margin: 0;
  }
  .col4 {
    width: 40%;
  }
  .col5 {
    width: 50%;
  }
  .col6 {
    width: 60%;
  }
  .mainImg {
    width: 200px;
  }

  .more {
    padding-top: 60px;
  }
}
