@import "../assets/styles/main.scss";


.projectHeader {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
  .projectTitle {
    display: flex;
    align-items: center;
    font-size: 21px;
    marign-bottom: 20px;
    h1 {
      margin: 0 50px 0px 50px;
    }
    .iconBg {
      width: 30px;
      height: 30px;
      background-color: #2B2D2E;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .projectDescription {
    margin-left: 80px;
  }
}

.sunwise {
  background-color: #4572DF;
  color: white;
}

.dogs {
  background-color: #F4C349;
}
.sfData {
  background-color: #F3FA8A;
}
.mikeller {
  background-color: #F9EDBC;
}
.coordinates {
  background-color: #B1F3B5;
}

.basicContainer {
  padding: 40px 120px 40px 120px;
  box-sizing: border-box;
  display: flex;
  .row {
    display: flex;
    flex-direction: row;
  }
  h2 {
    font-size: 26px;
    margin: 0;
  }
  p {
    margin: 0;
  }
  .mainImg {
    width: 200px;
  }

  .more {
    display: flex;
    align-items: flex-end;
  }
}

.number {
  // color: ;
}

.projectContainer {
  padding: 10px 120px 10px 120px;
  .mainImg {
    width: 100%;
    height: auto;
    margin: 40px 0px 40px 0px;
  }
  .screenView {
    width: 300px;
  }
}

.colored {
  padding: 60px;
  background-color: #f4f4f4;
  margin: 0px 0px 40px 0px;
}

.research {
  display: flex;
  flex-direction: row;
}

#firstInsight {
  position: relative;
  top: 120px;
}

#stopInsight {
  position: relative;
  top: 140px;
}

#chartInsight {
  position: relative;
  top: 40px;
}

.sbm {
  // margin: 0px 20px 0px 20px;
}

.prototypeImg {
  width: 260px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
margin: 0px 20px 0px 20px;
}

.prototype {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}
